.top-margin{
    margin-top: 286px;
}

.task-section{
    padding: 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-input-form{
    width: 100%;
    height: 6%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-input{
    height: 100%;
    margin: 0 10px 0 20px;
    width: 75%;
}

#tasks-list {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    overflow: auto;
}

.task-input-container{
    display: flex;
    width: 100%;
}

.task-input-container label{
    margin-left: 10px;
    width: 100%;
}

.task-input-container button{
    text-decoration: none;
}

#tasks-list li{
    padding: 5px;
    margin: 5px 0;
    border: 1px solid black;
    list-style: none;
    width: 98.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tasks-list li:hover{
    background-color: lightgray;
}