.App{
  display: flex;
  width: 100%;
  border: 3px solid black;
}

.addButton{
  background-color:blue;
  color: white;
  width: 20%;
  padding: 0;
  height: 100%;
  border: none;
}

.del{
  background-color: white;
  border: none;
  padding: 0;
}

.vertical-seperator{
  border: 1px solid black;
}

.ticked{
  text-decoration: line-through;
}

.selected{
  background-color: lightgray;
}

.selected button{
  background-color: lightgray;
}